/* line 4, ../sass/_base.scss */
.mainDiv {
  font-family: Helvetica, sans-serif;
  width: 75%;
  margin: auto;
  padding-bottom: 15px;
}
/* line 10, ../sass/_base.scss */
.mainDiv ul li {
  list-style-type: none;
}
/* line 15, ../sass/_base.scss */
.mainDiv #zoomDiv {
  font-size: 0.75em;
}

/* line 20, ../sass/_base.scss */
h2 {
  text-align: center;
}

/* line 3, ../sass/mine.scss */
form {
  width: 85%;
  margin: auto;
}
/* line 6, ../sass/mine.scss */
form label {
  float: left;
  clear: left;
  padding-right: 10px;
  text-align: right;
  width: 10%;
}
/* line 14, ../sass/mine.scss */
form input[type="text"] {
  float: left;
  clear: right;
  width: 75px;
}
/* line 20, ../sass/mine.scss */
form input[type="password"] {
  float: left;
  clear: right;
  width: 100px;
}
/* line 26, ../sass/mine.scss */
form button {
  float: left;
  clear: both;
  margin-left: 30%;
}

/* line 33, ../sass/mine.scss */
#zoomDiv {
  height: 150px;
  width: 100%;
  padding-top: 10px;
}

/* line 39, ../sass/mine.scss */
.message, .failure, .success {
  font-style: italic;
  font-size: 0.9em;
  font-family: Helvetica, sans-serif;
  clear: both;
  float: left;
  margin-left: 10%;
}

/* line 48, ../sass/mine.scss */
.failure {
  color: red;
  font-weight: bold;
}

/* line 54, ../sass/mine.scss */
.success {
  color: green;
  font-weight: bold;
}
